
  #liveVideo {
      /*visibility: hidden;*/
      position: absolute;
      margin: auto;
      /*  top: 75%;*/
      width: 90px;
      height: 90px;
      left: 1%;
      bottom: 0.7%;
      /*z-index:300000;*/
  }
  #circle {
      position: absolute;
      margin: auto;
      width: 93px;
      height: 93px;
      left: 1%;
      bottom: 0.7%;
  }

  html,
  body {
    
      margin: 0;
      /* remove default margin */
      
      padding: 0;
      /* remove default padding */
      
      width: 100%;
      /* take full browser width */
      
      height: 100%;
      
      /* take full browser height*/
      
      min-height: 100%;
  }

  
 #chatDisplay {
      overflow:scroll; 
      top: 6%;
      left: 2%;
      width: 96%;
      height: 79%;
      position: absolute;
      margin: auto;

 }



  #conversation {
      /*font-family: 'Amatic SC', cursive;*/
      /*text-align: center;*/
      font-family: Helvetica;
      font-weight: lighter;
   /*   top: 7%;*/    
      width: 100%;
      height: 100%;
      /*left: 38%;*/
      position: absolute;
      margin: auto;
  }


  .messageContainer{
    width : 100%;
    height : 15%;
    position : absolute;
    margin: auto;

  }

  .messageText {
    font-size: 15px;
  /*  right:2%;
*/    width: 25%; 
    top: 40%;
    position: absolute;
    padding: 4px;
    border-radius: 5px;
    padding: 4px 20px;
    margin: auto;
    background: #e7e7e7; 


  }

  .messageUserProfile {
    left: 39%;
    width: 88.5px;
    height: 88.5px;
    position: absolute;
    margin: auto;
  }

  .messageProfileCircle {
    left: 38.7%;
    top:-1.5%;
    width: 93px; 
    height: 93px; 
    position: absolute;
    margin: auto;

  }

  #topPart {
    height: 5%;
    width: 100%;
    top: 0px;
    position: absolute;
    margin: auto;
   background-color:#e7e7e7;
}
  #bottomPart{

    height: 16%;
    width: 100%;
    bottom: 0px;
    position: absolute;
    margin: auto;
   background-color:#e7e7e7;
  }

  #message {
      /*font-family: *//*'Amatic SC', cursive;*/
      font-family: Helvetica;
      font-weight: lighter;
      font-size: 13px;
      border-style: none;
      border-radius: 5px;
      height: 7%;
      width: 65%;
      right: 10%;
      bottom: 4.5%;
      background-color: white;
      position: absolute;
      margin: auto;
  }
  #button {
      font-family: Helvetica;
      font-weight: lighter;
      font-size: 13px;
      /*top: 80.2%;*/
      
      height: 7.5%;
      right: 4.5%;
      bottom: 4.25%;
      position: absolute;
      margin: auto;
      background-color:grey;
      border: 3.2px solid grey;
      border-radius: 5px;
      color: white;
      padding: 4px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }