


  html,
  body {
    
      margin: 0;
      /* remove default margin */
      
      padding: 0;
      /* remove default padding */
      
      width: 100%;
      /* take full browser width */
      
      height: 100%;
      
      /* take full browser height*/
      
      min-height: 100%;
  }

  
 #chatDisplay {
      overflow:scroll; 
      top: 5%;
      left: 2%;
      width: 96%;
      height: 79%;
      position: absolute;
      margin: auto;
      word-wrap: break-word;

 }


  #conversation {
      /*font-family: 'Amatic SC', cursive;*/
      /*text-align: center;*/
      font-family: Helvetica;
      font-weight: lighter;
   /*   top: 7%;*/    
      width: 100%;
      height: 100%;
      /*left: 38%;*/
      position: absolute;
      margin: auto;
  }

  .messageContainer{
    width : 100%;
    min-height:93px;
    position : absolute;
    margin: auto;

  }

  .messageText {
    /*overflow: auto;*/
    /*max-height: 95%;*/
    font-size: 13px;
    width: auto;
    top: 37%;
/*    transform: translateY(-50%);
*/    position: absolute;
    border-radius: 5px;
    max-width: 28%;
    padding: 5px 9px;
    margin: auto;
    background: #e7e7e7;
  }

  .profileContainer
  {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 90px;
    position: absolute;
    margin: auto;
    overflow: hidden;
  }

  .messageUserProfile {
    width: 88.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

  .messageProfileCircle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 93px;
    height: 93px;
    position: absolute;
    margin: auto;

  }

  #topPart {
    height: 5%;
    width: 100%;
    top: 0px;
    position: absolute;
    margin: auto;
   background-color:#e7e7e7;
}
  #bottomPart{
    height: 110px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    margin: auto;
   background-color:#e7e7e7;
  }

  #message {position: absolute;
    margin: auto;
    width: 110px;
    height: 110px;
    top: 50%;
    text-indent: 5%;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 13px;
    border-style: none;
    border-radius: 5px;
    height: 30%;
    width: 50%;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    position: absolute;
    margin: auto;
  }
  #button {
      visibility: hidden;
      font-family: Helvetica;
      font-weight: lighter;
      font-size: 13px;
      height: 7.5%;
      right: 4.5%;
      bottom: 4.25%;
      position: absolute;
      margin: auto;
      background-color:grey;
      border: 3.2px solid grey;
      border-radius: 5px;
      color: white;
      padding: 4px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }

  #preview
  {
      position: absolute;
      margin: auto;
      width: 100px;
      height: 100px;
      top: 50%;
      right: 1%;
      overflow: hidden;
      transform: translateY(-50%);
  }
    #previewVideo { 
      position: absolute;
      margin: auto;
      width: 110px;
      height: 110px;
      top: 50%;
      right: 1%;
      transform: translateY(-50%);
    }

    #previewText { 
      font-family: Helvetica;
      size: 40px;
      width: auto;
      height: auto;
      top: 60%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: black;
      }

      #circle2 {
        position: absolute;
        margin: auto;
        width: 110px;
        height: 110px;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
      }

  #liveVideo {
    position: absolute;
    margin: auto;
    width: 110px;
    height: 110px;
    top: 50%;
    transform: translateY(-50%);
  }
  #circle {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin: auto;
    width: 110px;
    height: 110px;
  }


#bigPreview
{
  visibility: hidden;
   overflow: hidden;
    position: absolute;
    width: auto;
    height: 50%;
    bottom: 110px;
}

#bigPreviewVideo
{
    position: absolute;
    width: 64%;
    height: 50%;
    bottom: 110px;
}

#previewCircle
{
  position: absolute;
    width: 64%;
    height: 50%;
    bottom: 110px;

}

#previewText
{

}


#screen1{


      /*display:none;*/
      margin: 0;
      /* remove default margin */
      
      padding: 0;
      /* remove default padding */
      
      width: 100%;
      /* take full browser width */
      
      height: 100%;
      
      /* take full browser height*/
      
      min-height: 100%;

      text-align: center;
     
     background-color: white;

        }


        #frontLiveVideo{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin: auto;
    width: 100%;
    height:auto%;
    opacity: 0.5;
}
#frontCircle {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin: auto;
    width: 100%;
    height:auto%;
  }

  #yourName{
  

    font-family: Helvetica;
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
    width: auto;
    height: 4.5%;
    border-radius: 5px;
    border-style: none;
    width: 30%;
    padding: 7px 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    background: white;
    /*background: #e7e7e7;*/

}

#firstButton{
    
      font-family: Helvetica;
      font-weight: lighter;
      font-size: 13px;
      height: 4.5%;
      width: auto;
      margin: 0;
      position: absolute;
      top: 60%;
      margin-right: -50%;
      transform: translateX(-50%);
      background-color:#696969;
      border-style: none;
      border-radius: 5px;
      color: white;
      padding: 7px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;

    
   
}
#screen2{
        display:none;
        width:auto;
        height:auto;
        }

.idText {/**//*
    overflow: auto;*/
    /*max-height: 95%;*/
    font-size: 13px;
    width: auto;
    height: auto;
    top: 15px;
    /*transform: translateY(-50%);*/
    position: absolute;
    /*border-radius: 5px;*/
    max-width: 28%;
    /*padding: 5px 9px;*/
    margin: auto;
    /*background: #e7e7e7;*/
    font-weight: 500;
    color: grey;
  }
